input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  border-radius: 6px;
  height: 6px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    /* color-stop(0.15, #012304),  */ color-stop(0.15, #ff9800),
    color-stop(0.15, #c5c5c5)
  );
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  /* background-color: #012304; */
  background-color: #ff9800;
  border: 1px solid #cecece;
  height: 15px;
  width: 15px;
}
